Repository mbround18/valheim-docker, pull requests merged in 2021-09, with the labels that each got.

#423 [Odin] Fix installation of mods having a UTF-8 BOM in their manifest.json
  .yarn/releases/yarn-2.4.1.cjs
  .yarn/releases/yarn-3.0.1.cjs
  .yarnrc.yml
  src/odin/mods/mod.rs
  yarn.lock
Labels: good first issue, odin, patch

#428 Updated workflows, deps, and scripts
  .github/workflows/docker-build.yml
  .github/workflows/docker-release.yml
  .github/workflows/release.yml
  Cargo.lock
  Dockerfile.odin
  package.json
  yarn.lock
Labels: github, patch, dependencies

#441 [Odin] Fix shutdown not working on unix
  src/odin/server/mod.rs
  src/odin/server/process.rs
  src/odin/server/shutdown.rs
  src/odin/server/utils.rs
Labels: odin, patch, release

#446 Update deps
  Cargo.lock
  package.json
  src/odin/Cargo.toml
  src/odin/cli.yaml
  yarn.lock
Labels: patch, release

#448 [Odin] Fix shutdown procedure finishing too early
  src/odin/server/shutdown.rs
Labels: patch, release

#451 Fix ValheimPlus type
  Cargo.lock
  README.md
  THIRDPARTY.yml
  src/odin/mods/mod.rs
Labels: patch, release

#453 Fixed spelling mistake
  docs/tutorials/getting_started_with_mods.md
Labels: documentation

#454 Fix sysinfo
  .gitattributes
  Cargo.lock
  src/huginn/Cargo.toml
  src/odin/Cargo.toml
  src/odin/server/process.rs
  src/odin/server/shutdown.rs
  src/odin/server/utils.rs
Labels: patch, release, dependencies
