Repository mbround18/valheim-docker, pull requests merged in 2021-06, with the labels that each got.

#386 Update README.md
  README.md
Labels: documentation

#401 Update metrics.rs
  src/huginn/routes/metrics.rs
Labels: odin, patch, release

#400 add support for custom post-install scripts
  src/scripts/start_valheim.sh
Labels: docker, patch

#403 Update README.md
  README.md
Labels: patch, release
