Repository mbround18/valheim-docker, pull requests merged in 2021-03, with the labels that each got.

#231 Update README.md
  README.md
Labels: documentation

#236 Push to github registry as well
  .github/workflows/docker-publish.yml
Labels: github

#234 Update entrypoint.sh
  src/scripts/entrypoint.sh
Labels: docker

#243 Added environment var catches and strengthened logic.
  Cargo.lock
  Cargo.toml
  src/commands/start.rs
  src/commands/start/bepinex.rs
  src/files/config.rs
  src/main.rs
  src/notifications/discord.rs
  src/notifications/mod.rs
  src/utils/environment.rs
  src/utils/mod.rs
Labels: odin

#254 Updated env files
  src/files/config.rs
  src/main.rs
  src/notifications/mod.rs
  src/scripts/entrypoint.sh
Labels: odin

#177 Update check without shutdown
  Cargo.lock
  Cargo.toml
  README.md
  src/cli.yaml
  src/commands/install.rs
  src/commands/mod.rs
  src/commands/start.rs
  src/commands/stop.rs
  src/commands/update.rs
  src/constants.rs
  src/files/config.rs
  src/main.rs
  src/mods/bepinex.rs
  src/mods/mod.rs
  src/scripts/auto_update.sh
  src/server/install.rs
  src/server/mod.rs
  src/server/shutdown.rs
  src/server/startup.rs
  src/server/update.rs
  src/server/utils.rs
  src/utils/mod.rs
  tests/assets/example_current_app_manifest.txt
  tests/assets/example_current_steamcmd_app_info.txt
  tests/assets/example_updated_steamcmd_app_info.txt
Labels: odin

#276 #272 Mod Support
  .dockerignore
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.md
  docs/getting_started_with_mods.md
  src/cli.yaml
  src/commands/install_mod.rs
  src/commands/mod.rs
  src/constants.rs
  src/main.rs
  src/messages/mod.rs
  src/mods/bepinex.rs
  src/mods/mod.rs
  src/scripts/auto_update.sh
  src/scripts/entrypoint.sh
  src/scripts/start_valheim.sh
  src/server/startup.rs
  src/utils/common_paths.rs
  src/utils/mod.rs
Labels: docker, odin

#290 Subtract 1 from AUTO_BACKUP_DAYS_TO_LIVE and prune before creating backup
  src/scripts/auto_backup.sh
Labels: docker
