Repository mbround18/valheim-docker, pull requests merged in 2021-02, with the labels that each got.

#9 Mbround18 #8 auto update
  Cargo.lock
  Cargo.toml
  Dockerfile
  docker-compose.yml
  src/commands/install.rs
  src/commands/start.rs
  src/commands/stop.rs
  src/cron/auto-update
  src/executable.rs
  src/files/mod.rs
  src/files/server_exit.rs
  src/files/server_pid.rs
  src/files/start_server_rusty.rs
  src/main.rs
  src/scripts/auto_update.sh
  src/scripts/entrypoint.sh
  src/steamcmd.rs
Labels: enhancement

#12 Quality of Life Updates
  .github/CODEOWNERS.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/labeler.yml
  README.md
Labels: documentation, github

#15 Update README.md
  README.md
Labels: docker, documentation

#17 #14 Not handling quoted yaml
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
  docker-compose.yml
  src/files/start_server_rusty.rs
  src/scripts/auto_update.sh
  src/scripts/entrypoint.sh
  src/scripts/entrypoint_root.sh
  src/utils/mod.rs
Labels: docker, enhancement, github, odin

#18 16 ability to change steam userid
  .dockerignore
  .github/labeler.yml
  .github/workflows/labeler.yml
  Dockerfile
  README.md
  docker-compose.yml
  docs/assets/install-menu.png
  docs/assets/main-menu.png
  docs/assets/start-menu.png
  docs/assets/stop-menu.png
  src/cli.yaml
  src/main.rs
  src/scripts/entrypoint.sh
  src/scripts/entrypoint_root.sh
  src/scripts/init.sh
Labels: docker, documentation, enhancement, github, help wanted, odin

#21 Fix Variable Expansions
  src/scripts/auto_update.sh
  src/scripts/entrypoint.sh
  src/scripts/init.sh
Labels: docker

#31 Update README.md
  README.md
Labels: documentation

#29 Added password length #11 and added public variable tracking #24
  Dockerfile
  README.md
  docker-compose.yml
  docs/assets/start-menu.png
  src/cli.yaml
  src/commands/start.rs
  src/files/start_server_rusty.rs
  src/scripts/auto_update.sh
  src/scripts/entrypoint.sh
  src/scripts/init.sh
  src/scripts/load_env.sh
Labels: docker, documentation, odin

#35 #32 Use SIGINT for server shutdown
  README.md
  src/commands/start.rs
  src/commands/stop.rs
  src/files/mod.rs
  src/files/server_exit.rs
  src/files/server_pid.rs
  src/files/start_server_rusty.rs
  src/scripts/entrypoint.sh
  src/scripts/load_env.sh
  src/utils/mod.rs
Labels: docker, odin

#36 Update README.md
  README.md
Labels: documentation

#38 Changed SIGINT to be rust specific
  Dockerfile
  src/scripts/entrypoint.sh
  src/scripts/init.sh
  src/utils/mod.rs
Labels: docker, odin

#39 Moved trap to init
  Dockerfile
  src/scripts/entrypoint.sh
  src/scripts/init.sh
  src/scripts/shutdown.sh
Labels: docker

#40 Gosu pattern
  Dockerfile
  src/scripts/init.sh
Labels: docker

#41 Separation of concerns for docker files and building
  .github/workflows/docker-publish.yml
  Dockerfile
  Dockerfile.odin
  README.md
  docker-compose.yml
  docs/odin.md
  src/scripts/entrypoint.sh
  src/scripts/init.sh
  src/scripts/load_env.sh
  src/scripts/shutdown.sh
  src/scripts/start_valheim.sh
Labels: docker

#43 Fix for githubs pipeline
  .github/workflows/docker-publish.yml
Labels: github

#42 Fix #32 & #30 background the tail command and wait
  src/scripts/start_valheim.sh
Labels: docker

#44 #30 Lost progress when stopping the docker container
  .run/docker-compose.yml_ Compose Deployment.run.xml
  Dockerfile
  src/commands/stop.rs
  src/scripts/entrypoint.sh
  src/scripts/start_valheim.sh
  src/utils/mod.rs
Labels: docker, odin

#57 Update README.md
  README.md
Labels: documentation

#53 Auto Update based on supplied cronjob
  .github/workflows/docker-publish.yml
  Dockerfile
  Dockerfile.odin
  README.md
  docker-compose.yml
  src/cron/auto-update
  src/scripts/auto_update.sh
  src/scripts/entrypoint.sh
  src/scripts/shutdown.sh
  src/scripts/start_valheim.sh
  src/scripts/steam_bashrc.sh
Labels: docker, documentation, github

#59 Update README.md
  README.md
Labels: documentation

#62 Reduce dependencies
  Cargo.lock
  Cargo.toml
Labels: enhancement, odin

#67 Formatting
  src/commands/install.rs
  src/commands/mod.rs
  src/commands/start.rs
  src/commands/stop.rs
  src/executable.rs
  src/files/mod.rs
  src/files/start_server_rusty.rs
  src/logger.rs
  src/main.rs
  src/steamcmd.rs
  src/utils/mod.rs
Labels: enhancement, odin

#78 Avoid compiling odin twice in dockerfile
  Dockerfile.odin
Labels: docker, odin

#83 Fixes #82
  src/scripts/entrypoint.sh
Labels: docker

#89 Daemonized start
  Cargo.lock
  Cargo.toml
  Dockerfile
  docker-compose.yml
  src/cli.yaml
  src/commands/initialize.rs
  src/commands/start.rs
  src/commands/stop.rs
  src/files/config.rs
  src/files/mod.rs
  src/files/start_server_rusty.rs
  src/main.rs
  src/scripts/entrypoint.sh
  src/scripts/start_valheim.sh
  src/utils/mod.rs
Labels: docker, documentation, odin

#92 Fixed check on variable from github
  src/scripts/entrypoint.sh
Labels: docker

#100 Automated backups
  .editorconfig
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.md
  docker-compose.yml
  src/cli.yaml
  src/commands/backup.rs
  src/commands/configure.rs
  src/commands/mod.rs
  src/commands/start.rs
  src/main.rs
  src/scripts/auto_backup.sh
  src/scripts/auto_update.sh
  src/scripts/entrypoint.sh
  src/scripts/start_valheim.sh
  src/utils/mod.rs
Labels: docker, documentation, odin

#107 Delay in busy wait to lower CPU usage during shutdown
  src/commands/stop.rs
Labels: enhancement, odin

#108 Don't copy over all build artifacts
  Dockerfile
Labels: docker

#120 Updated CI to not publish based on document changes
  .github/workflows/docker-publish.yml
  .github/workflows/rust.yml
Labels: documentation

#121 Memory Check
  .github/workflows/docker-publish.yml
  .github/workflows/rust.yml
  src/scripts/entrypoint.sh
Labels: docker

#123 Updated README.md - undocumented feature
  README.md
Labels: documentation

#136 Fix volume indent in docker-compose example
  README.md
Labels: documentation

#148 Added BepInEx Support
  .editorconfig
  .github/workflows/rust.yml
  .gitignore
  .rustfmt.toml
  Cargo.lock
  Cargo.toml
  Dockerfile
  Dockerfile.odin
  README.md
  docs/getting_started_with_mods.md
  src/cli.yaml
  src/commands/backup.rs
  src/commands/configure.rs
  src/commands/install.rs
  src/commands/start.rs
  src/commands/start/bepinex.rs
  src/commands/stop.rs
  src/executable.rs
  src/files/config.rs
  src/files/mod.rs
  src/logger.rs
  src/main.rs
  src/messages/mod.rs
  src/scripts/auto_backup.sh
  src/scripts/entrypoint.sh
  src/scripts/start_valheim.sh
  src/steamcmd.rs
  src/utils/mod.rs
Labels: docker, documentation, odin

#164 feat: add gdb for improved c# traces
  Dockerfile
Labels: docker, enhancement

#165 Build and cache based on #153
  .github/scripts/utils.sh
  .github/workflows/docker-publish.yml
  Dockerfile
  Dockerfile.odin
Labels: docker, odin

#167 Added new env var and better check for if you have valheim installed.
  src/commands/start/bepinex.rs
  src/utils/mod.rs
Labels: docker, enhancement, odin

#171 File sanitization fix
  Dockerfile
Labels: bug, docker

#183 Mbround18/expected bepinex
  src/commands/start/bepinex.rs
Labels: odin

#158 Added webhook configuration and documentation updates
  .editorconfig
  Cargo.lock
  Cargo.toml
  README.md
  docs/bepinex.md
  docs/odin.md
  docs/webhooks.md
  src/cli.yaml
  src/commands/mod.rs
  src/commands/notify.rs
  src/errors/mod.rs
  src/main.rs
  src/notifications/discord.rs
  src/notifications/enums/event_status.rs
  src/notifications/enums/mod.rs
  src/notifications/enums/notification_event.rs
  src/notifications/mod.rs
Labels: docker, documentation, enhancement, odin

#202 Add in flag for updating on startup
  Dockerfile
  README.md
  src/scripts/start_valheim.sh
Labels: docker, enhancement

#205 Update README.md
  .github/workflows/docker-publish.yml
  README.md
Labels: documentation

#213 Fix starting up without config
  src/scripts/start_valheim.sh
Labels: bug
