Repository mbround18/valheim-docker, pull requests merged in 2021-04, with the labels that each got.

#319 Added option to bypass password
  Dockerfile
  README.md
  src/odin/commands/notify.rs
  src/odin/commands/status.rs
  src/odin/files/config.rs
  src/odin/server/startup.rs
  src/odin/utils/mod.rs
Labels: docker, odin

#327 Updated Docs
  .markdownlint.json
  CONTRIBUTING.md
  Cargo.lock
  Dockerfile
  README.md
  docker-compose.yml
  docs/assets/transfer-file-demo/install-croc.png
  docs/assets/transfer-file-demo/send-croc-success.png
  docs/assets/transfer-file-demo/send-croc.png
  docs/bepinex.md
  docs/getting_started_with_mods.md
  docs/odin.md
  docs/releases/status_update.md
  docs/tutorials/how-to-transfer-files.md
  docs/webhooks.md
Labels: docker, documentation, odin

#336 Fix environment table in readme
  README.md
Labels: documentation

#335 Docs and release upgrades
  .dockerignore
  .gitignore
  Cargo.lock
  Cargo.toml
  Dockerfile
  Dockerfile.odin
  Makefile.toml
  README.md
  docs/_config.yml
  docs/bepinex.md
  docs/index.md
  docs/tutorials/getting_started_with_mods.md
  src/huginn/Cargo.toml
  src/huginn/README.md
  src/huginn/main.rs
  src/huginn/routes/metrics.rs
  src/huginn/routes/mod.rs
  src/huginn/routes/status.rs
  src/odin/Cargo.toml
  src/odin/README.md
  src/odin/executable.rs
  src/scripts/start_valheim.sh
Labels: docker, documentation, odin

#338 Pipeline
  .autorc
  .github/CODEOWNERS.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docker-publish.yml
  .gitignore
  Dockerfile.valheim
  README.md
  docker-compose.yml
  package.json
  yarn.lock
Labels: github, minor

#343 Forgot to checkout for auto
  .github/workflows/docker-publish.yml
Labels: minor

#344 Validating pr label check
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
Labels: minor
