Repository mbround18/valheim-docker, pull requests merged in 2022-01, with the labels that each got.

#507 Updated deps
  .github/workflows/release.yml
  .yarn/sdks/typescript/package.json
  Cargo.lock
  package.json
  yarn.lock
Labels: patch, dependencies

#510 ADD: Optional Public IP in Webhook notifications
  README.md
  docs/webhooks.md
  src/odin/cli.yaml
  src/odin/notifications/discord.rs
  src/odin/notifications/mod.rs
  src/scripts/entrypoint.sh
Labels: enhancement, good first issue, odin, dependencies

#516 Apeabody/public ip
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
  Cargo.lock
  Dockerfile.odin
  Dockerfile.valheim
  README.md
  docs/webhooks.md
  package.json
  src/odin/Cargo.toml
  src/odin/cli.yaml
  src/odin/commands/status.rs
  src/odin/notifications/discord.rs
  src/odin/notifications/enums/notification_event.rs
  src/odin/notifications/mod.rs
  src/odin/server/process.rs
  src/odin/utils/fetch_public_ip_address.rs
  src/odin/utils/mod.rs
  src/scripts/entrypoint.sh
  yarn.lock
Labels: minor, release, canary
