Repository mbround18/valheim-docker, pull requests merged in 2022-04, with the labels that each got.

#562 updated deps
  Cargo.lock
  package.json
  yarn.lock
Labels: patch

#567 [Bug] Fix default val when testing with -eq
  src/scripts/auto_backup.sh
  src/scripts/auto_update.sh
Labels: good first issue, patch

#566 Env Length Fix
  .github/FUNDING.yml
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  CHANGELOG.md
  Cargo.lock
  Dockerfile.odin
  Dockerfile.valheim
  README.md
  docs/index.md
  docs/webhooks.md
  package.json
  src/scripts/entrypoint.sh
  src/scripts/env.sh
  yarn.lock
Labels: patch, release, canary
