Repository mbround18/valheim-docker, pull requests merged in 2023-10, with the labels that each got.

#743 Add missing tzdata package to container to support time zones
  Dockerfile.valheim
Labels: patch, release

#742 Add additional arguments for Valheim Server
  .dockerignore
  .idea/inspectionProfiles/Project_Default.xml
  Cargo.lock
  Makefile
  README.md
  src/odin/Cargo.toml
  src/odin/cli.rs
  src/odin/commands/configure.rs
  src/odin/files/config.rs
  src/odin/logger.rs
  src/odin/main.rs
  src/odin/mods/bepinex.rs
  src/odin/server/startup.rs
  src/odin/utils/mod.rs
  src/odin/utils/parse_truthy.rs
  src/scripts/entrypoint.sh
  src/scripts/start_valheim.sh
  test.sh
Labels: odin, minor, release, canary, rust, automerge

#747 Fix | Argument Settings arent taking
  .all-contributorsrc
  .github/workflows/docker-release.yml
  Cargo.lock
  Dockerfile.odin
  Makefile
  README.md
  src/odin/logger.rs
  src/odin/server/startup.rs
Labels: odin, patch, release, canary, automerge
