Repository mbround18/valheim-docker, pull requests merged in 2024-07, with the labels that each got.

#892 fix `scheduled_restart` not running due to invalid user
  src/scripts/scheduled_restart.sh
Labels: docker, patch, release

#907 Maintenance July 30th, 2024
  .all-contributorsrc
  .github/workflows/docker-build.yml
  .github/workflows/docker-release.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  Dockerfile.odin
  Dockerfile.valheim
  README.md
  docker-compose.yml
  docs/tutorials/group-file-system-access.md
  src/huginn/Cargo.toml
  src/odin/Cargo.toml
Labels: docker, patch, release, dependencies, automerge

#908 Add token to checkout
  .github/workflows/release.yml
Labels: patch, release, automerge
